.chart {
	margin-left: 40px;
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}
			
.chart div {
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}
			
.chart rect {
	stroke: white;
	fill: steelblue;
}
			
.chart text {
	color: black;
}

body {
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 9pt;
}

#rounds {
	text-indent: 300px;
	font-size: 9pt;
}

#subsets {
	text-indent: 250px;
	font-size: 9pt;
}

.red {
	color: red;
}

#vcs {
	border: 1px solid #ccc;
}

div.vc {
	width: 17em;
	display: inline-block;
}

#neuvc {
	color: #ff6600;
	text-decoration: none;
	font-size: 12pt;
}

#make-link {
	float: right;
	text-decoration: underline;
}

#makeLink {
	display: none;
	position: fixed;
	top: 100px;
	left: 100px;
	padding: 2px 15px 7px 5px;
	z-index: 40;
	border: solid #ccc 1px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px 2px #888;
	box-shadow: 2px 2px 2px 2px #888;
}

#makeLink b {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	color: white;
	width: 16px;
	height: 16px;
	text-align: center;
	background: #ccc;
}

#makeLink b:hover {
	color: #f60;
}